# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# PDF analysis outputs
*.pdf

# Other
*.sqlite3
*.db
*.bak
*.tmp
# 
.zencoder/
desktop.ini
Analiza_projektu.md
Tworzenie_pliku_exe.md
